{% extends "base.html" %}

{% block content %}


    <P><strong>Title:</strong> {{ auction.title_auction }}</P>
    <P><strong>Description:</strong> {{ auction.description }}</P>
    <P><strong>Starting price: </strong>{{ auction.min_price }}</P>
    <P><strong>Deadline: </strong>{{ auction.end_date }}
        {% if auction.status.id_status == 1 %}
            <a href="/bid/{{ auction.id_auction }}"><button>Place a bid</button></a>
        {% else%}
            {{ auction.status.title }}
        {% endif %}
        {% if user.is_superuser %}
            <a href="/ban/{{ auction.id_auction }}"><button>Ban auction</button></a>
        {% endif %}
    </P>
    <P><strong>Winning bid: {{ winning_bid|default:"Be the winner!" }}</strong></P>
    <P><strong>Last bids:</strong></P>
    {% if bids %}
    <table class="table table-striped">
        <tr>
            <td>Date</td>
            <td>Bid price</td>
        </tr>
        {% for bid in bids %}
        <tr>
                <td>{{ bid.date }}</td>
                <td>{{ bid.price}}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <p>No bids yet.</p>
    {% endif %}
{% endblock content %}