{% extends "base.html" %}

{% block content %}
    <h4>{{ auction.title_auction }}</h4>
    <p><strong>Deadline: </strong>{{ auction.end_date }}</p>
    <p><strong>Status: </strong>{{ auction.status.title }}</p>
    <form action="/edit/{{ auction.id_auction }}" method="post">
        {% csrf_token %}
        <label><strong>Description</strong></label>
        <br>
        <textarea name="description" class="col-md-12" rows="15">{{ auction.description}}</textarea>
        <br/>
        <input type="submit" value="Edit">
    </form>
{% endblock content %}