{% extends "base.html" %}

{% block content %}
    <h1>Create a new auction</h1>
    <p>Please introduce the following data</p>

    <form action="" method="post">
         {% csrf_token %}
         <br/>
         {% if confirm %}
             <div class="hidden">
                {{ form.as_p }}
             </div>
            <p>Do you want to create the auction?</p>
            <input type="submit" value="No" name="cancel">
            <input type="submit" value="Yes" name="confirm">
         {% else %}
             {{ form.as_p }}
             <input type="submit" value="Submit">
         {% endif %}

    </form>


{% endblock content %}